<!DOCTYPE html>
<html>
<head>
	<title>OLOO TEST</title>
	<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
</head>
<body>
	<h1>Login</h1>
	<form action="/login" method="post">
		<input type="text" name="username" id="username" placeholder="username">
		<input type="password" name="password" id="password" placeholder="password">
		<button>Login</button>		
	</form>
	<script type="text/javascript" src="authController.js"></script>
</body>
</html>

